<!DOCTYPE html>
<html>
  <head>
      <title>FakeBook</title>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="style.css">
  </head>

  <body>

    <h1>FakeBook</h1>
      <div class="Src">
        <input type="text" placeholder="Išči..."><button class="Src-Btn"
        name="Search">Išči</button>
      </div>

    <br />
    <br />

     <div class="profil">

      <h3 class="h3">Domen Kastner</h3>
       <img class="profile-image"
        src="https://lh3.googleusercontent.com/f3M-jb2gRNel0aal7_E2gNdkzoKjVIuRpnN_-RNF5KwTZjafMgjnDCfnBqS0qCWcKXxECsnOyGcYyFR8nja47DXZrz-u5X0DjcEzQjRrv1vl6SQni8xZy22-fESOO9V9o4LdZUX4WhqTpIrnh-E1Z2zlVzNHUt_Qiec3wyPDO6XaPwTDP3sHhDI0_PXbrWzM0s5khuaKbXMFX385uP-5AiR7pG4v8vcPKvf9VS6twtbIj2ruXdDTz5oE39Gsr6rQnHlNJNWpqHuzPcuESXWOszuYH53dcN0GiAtQuRxxkiGAer-RvkdQ1WFbfs-dLj5AEWRTQO6lTrlmAC9B7E6tVHVUJffj5ScnWQBSD6Q6REeoxTOzaGT00SnPTXBxmsfjhMg11r7BdhuT9jO_fVzZGiVfti6_kckA2tTiyC-d_OPOIfGVnHNY-PvIOpfLxeYrlesPLVT9t1YhZ3kGFI7tNMOz8VUPLB7_0LFf9i44v1VyglBRGBzgihDEFOLmUku0QYt0Z8T6AME0QblS1Ye6IucnosLoiN-qCYMMzl5o9d07Plce15sKoYN-7YQX8L1gAZ5nntG7UVZRtLhcZvwj2ZDPxSLpcmHely0611NkNBt5bev9R9EkmahoHfCskycLWtqPYntxNxx08dYhz_kDMIRJnrP8CwVX5cHr=w1240-h698-no"
        alt="profile picture"/>
     </div>

      <br />

    <button name="dodaj-prijatelja" class="btn1">
      Dodaj prijatelja
    </button>

    <button name=gumb-BreziImena class="btn2">
      Gumb brez imena
    </button>

      <br />
      <br />
      <br />

     <div class="data">

      <p id="omeni">
       Kratek opis &#8601;
      </p>

      <p>
       <strong>Kraj:</strong><a href="https://www.vrhnika.si/">Vrhnika</a>
      </p>

      <p>
       <strong>Starost:</strong>34
      </p>

      <p>
        <strong>Hobi:</strong> Hoja in letenje, Computers something, something,
        AudioBooks,Charts...
      </p>

      <p>
       <strong>Cilji:<strong>&infin;</strong> Never stop learning <strong>&infin;</strong></strong>
      </p>

      <p>
       <strong>Število FB Prijateljev:</strong> 3.14
      </p>

      <p>
       <strong>Število FB neprijateljev:</strong>Null
      </p>
    </div>

  </body>

</html>
